@font-face {
  font-family: "TTBold";
  src: url("../fonts/TTLakes-Bold.woff") format("woff");
  font-weight: 900;
}

@font-face {
  font-family: "TTRegular";
  src: url("../fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "TTMedium";
  src: url("../fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 400;
}

body,
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.container {
  position: relative;
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
}

.screen {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.96;
  z-index: 1;
}

.buttons {
  padding: 4px 8px;
  border: none;
  height: 32px;
  background: #FF3E79;
  border-radius: 16px;
  color: #fff;
}

.buttons:hover {
  background-color: #e23066;
}

.buttons:after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-image: url("../img/right-btn.svg");
  background-repeat: no-repeat;
}

.button-item.button-item_hidden {
  display: none;
}

.header {
  border-bottom: 1px solid #d9fff5;

  &__inner {
    padding: 18px 30px;
    height: 88px;
    box-sizing: border-box;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  &__buttons-left,
  &__buttons-right {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  @media (max-width: 768px) {
    &__inner {
      padding: 16px 24px;
    }
  }
  @media (max-width: 576px) {
    &__inner {
      padding: 16px;
    }
  }

}

@media (min-width: 1230px) {
  .header {
    border: none;
    background: #f8f8f8;

    &__inner {
      padding: 42px 32px 0 32px;
    }

    &__buttons {
      justify-content: flex-end;
    }

    &__buttons-left {
      display: none;
    }
  }
}

.button-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff3e79;
  border: none;
  cursor: pointer;
}

.button-item:hover {
  background-color: #e23066;
  transition: 200ms;
}

.button-item_burger {
  background-image: url("../img/mobile-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header__logo {
  position: relative;
  height: 50px;
  width: 96px;
  background-color: transparent;
}

.header__logo::after {
  content: "";
  position: absolute;
  top: 6px;
  right: -17px;
  height: 32px;
  width: 2px;
  border-radius: 1px;
  background: #eaeaea;
}

@media (min-width: 768px) {
  .logo {
    padding-left: 16px;
  }
  .header__logo::after {
    left: 0;
  }
  .button-item_setting_background {
    margin-left: 16px;
  }
}

.button-item_setting_background {
  background-image: url("../img/settings.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-item_search_background {
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .button-item.button-item_hidden {
    display: flex;
  }
  .button-item_profile_background::after {
    content: "";
    position: absolute;
    right: -16px;
    height: 32px;
    width: 2px;
    border-radius: 1px;
    background: #eaeaea;
  }
}

.btn-text {
  font-family: "TTRegular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  letter-spacing: -0.2px;
  color: #1b1c21;
  display: none;
}

@media (min-width: 992px) {
  .button-item.button-item_hidden {
    display: none;
  }
  .btn-text {
    display: block;
  }
  .button-item_setting_background {
    margin-left: 0;
  }
}

.button-item_phone_background {
  background-image: url("../img/call-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-item_chat_background {
  background-image: url("../img/chat.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-item_profile_background {
  position: relative;
  background-image: url("../img/profile.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.header__buttons-right--text {
  display: flex;
  align-items: center;
  gap: 8px;
}

//--- MAIN ---
.main {
  background: #f8f8f8;
}

.page-heading {
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
  gap: 25px;
  font-family: "TTBold", sans-serif;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1b1c21;
}

.title:before {
  content: "";
  display: inline-block;
  height: 40px;
  border: 2px solid #41f6d7;
  background: #41f6d7;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

@media (min-width: 1230px) {
  .title {
    margin: 0;
    position: absolute;
    top: 42px;
  }
}

@media (max-width: 768px) {
  .title {
    gap: 20px;
  }
}

@media (max-width: 576px) {
  .title {
    gap: 15px;
  }
}

//--- NAV
.nav {
  padding-left: 30px;

  &__menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    position: relative;
  }

  &__menu-item {
  }

  .nav-link {
    display: inline-block;
    font-family: "TTRegular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7e7e82;
    text-decoration: none;
    white-space: nowrap;
    padding: 8px 16px;
    border: 2px solid transparent;
    box-sizing: border-box;
  }

  .nav-link.active,
  .nav-link:hover {
    background: #ffffff;
    border: 2px solid #b8ffec;
    box-sizing: border-box;
    border-radius: 6px;
  }
}

@media (max-width: 674px) {
  .nav {
    padding-left: 16px;
    padding-right: 0;
  }
  .nav__menu {
    gap: 17px;
  }
}

@media (max-width: 1109px) {
  .nav {
    max-width: 100vw;

    &__menu {
      flex-wrap: nowrap;
      overflow-y: hidden;
      gap: 28px;
    }

    &__menu::-webkit-scrollbar {
      width: 0;
    }

    &__menu-item {
      margin: 0;
    }
  }
  .nav-link_fade:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 40px;
    background: linear-gradient(
        270deg,
        #f8f8f8 16.84%,
        rgba(248, 248, 248, 0.0001) 100%
    );
  }
}

// REQUEST CALL

.request-call {
  position: fixed;
  top: 0;
  right: -600px;
  z-index: 100;

  &__inner {
    width: 440px;
    height: 100vh;
    background: #FFFFFF;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  }

  .button-item_close {
    display: block;
  }

  .request-call--close {
    position: absolute;
    top: 30px;
    left: -60px;
  }

  &__title {
    padding-top: 32px;
  }

  .block-title {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 25px;
    font-family: "TTBold", sans-serif;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1b1c21;
  }

  .block-title:before {
    content: "";
    display: inline-block;
    height: 40px;
    border: 2px solid #41f6d7;
    background: #41f6d7;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }

  &__content {
    position: relative;
    padding: 24px 30px;
  }

  &__input {
    display: block;
    width: 100%;
    height: 48px;
    padding: 12px 16px;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    box-sizing: border-box;
  }

  &__input::placeholder {
    font-family: "TTRegular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #B5B6BC;
  }

  &__text {
    font-family: "TTMedium", sans-serif;
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
  }

  .call-text-link {
    color: #FF3E79;
    text-decoration: none;
  }

  &__btn {
    position: absolute;
    right: 32px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px;
    width: 136px;
    font-family: "TTMedium", sans-serif;
    font-size: 12px;
    line-height: 24px;
    text-align: right;
    letter-spacing: -0.15px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  @media (max-width: 500px) {
    &__inner {
      width: 320px;
    }
    &__content {
      padding: 24px 16px;
    }
    .request-call--close {
      position: relative;
      top: 24px;
      left: 16px;
    }
  }
}

//--- ABOUT

.about {
  padding: 8px 30px 50px 30px;

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 36px;
  }

  &__text {
    max-width: 490px;

    p {
      font-family: "TTMedium", sans-serif;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: #1b1c21;
    }
  }

  @media (max-width: 674px) {
    .about__inner {
      flex-direction: column;
      align-items: center;
    }
    .about__text {
      padding: 0 16px;
    }
    .about__text p:nth-child(2) {
      display: none;
    }
  }

  &__full-text-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    font-family: "TTRegular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
    background: transparent;
    border: none;
  }

  &__full-text-btn:before {
    content: "";
    margin-right: 16px;
    height: 10px;
    width: 7px;
    background-image: url("../img/down-icon.svg");
    background-repeat: no-repeat;
  }

  &__image img {
    max-width: 531px;
    max-height: 307px;
    border-radius: 6px;
  }
}

@media (max-width: 674px) {
  .about {
    padding: 0;
  }
  .about__image img {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .text-hidden {
    display: none;
  }
  .about__image img {
    max-height: 208px;
    max-width: 360px;
    transition: 1s;
  }
}

// --- MOBILE MENU --- //

.aside {
  //box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
  //16px 0px 52px rgba(14, 24, 80, 0.2);

  &__inner {
    width: 320px;
    height: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 24px 24px;
    box-sizing: border-box;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header-left {
    display: flex;
    align-items: center;
  }

  .logo {
    padding: 0;
  }

  .button-item {
    cursor: pointer;
  }

  .button-item:hover {
    background-color: #e23066;
    transition: 200ms;
  }

  .nav__menu {
    overflow: visible;
  }

  &__nav {
    margin-top: 46px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .nav-link {
    display: inline-block;
    font-family: "TTRegular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    text-decoration: none;
  }

  .nav-link.active {
    padding: 0;
    border: none;
    color: #7e7e82;
  }

  .nav-link:hover {
    text-decoration: underline;
  }


  .active:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    height: 32px;
    border: 2px solid #41f6d7;
    background: #41f6d7;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
  }

  &__footer {
    bottom: 32px;

    a:hover {
      text-decoration: underline;
    }
  }

  &__footer-buttons {
    display: flex;
    gap: 16px;
  }

  .button-item_profile_background:after {
    content: none;
  }

  &__footer-mail {
    padding: 16px 0;

    a {
      text-decoration: none;
      font-family: "TTRegular", sans-serif;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #1b1c21;
    }
  }

  &__footer-phone {
    a {
      text-decoration: none;
      font-family: "TTBold", sans-serif;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.6px;
      color: #1b1c21;
    }
  }

  &__footer-lang {
    padding-top: 40px;

    .lang {
      cursor: pointer;
      font-family: "TTMedium", sans-serif;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #1b1c21;
      border: none;
      background: transparent;
    }

    .lang:hover {
      text-decoration: underline;
    }

    .active-lang {
      color: #7e7e82;
    }
  }

  @media (max-width: 1230px) {
    position: absolute;
    top: 0;
    left: -500px;
    transition: 500ms;

    &__logo {
      padding-left: 16px;
    }

    .button-item_close {
      display: block;
    }
  }

  @media (max-width: 360px) {
    &__nav {
      margin-top: 20px;
    }

    &__inner {
      width: 100vw;
      height: 100%;
      padding: 16px 24px 24px;
      gap: 32px;
    }

    &__menu {
      gap: 24px;
    }

    &__footer-lang {
      padding-top: 8px;
    }
  }
}

.aside_show {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2);
  background: #FFFFFF;
  transition: 500ms;
}

.button-item_close {
  display: none;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-item_search_loupe_background {
  background-image: url("../img/search-loupe.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.aside__nav .nav-link {
  display: flex;
  align-items: center;
  color: #1b1c21;
}

// --- SERVICES --- //

.services {
  margin-top: 24px;
  background-color: #f8f8f8;

  &__title {
    height: 56px;
    background: linear-gradient(130deg, #f8f8f8 0%, #ffffff 98.61%);
    padding: 16px 32px;
    margin: 0;
    font-family: "TTRegular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7e7e82;
    box-sizing: border-box;
    border-top: 1px solid #d9fff5;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 16px 32px;
    padding: 24px 32px;
  }

  &__item {
    position: relative;
    height: 72px;
    background: #ffffff;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    border-radius: 6px;
  }

  &__item:nth-last-child(-n + 3) {
    display: none;
  }

  &__group--full &__item:nth-last-child(-n + 3) {
    display: block;
  }

  &__item--bg--lenovo {
    background-image: url("../img/lenovo.png");
    background-repeat: no-repeat;
    background-position: 16px 20px;
  }

  &__item--bg--samsung {
    background-image: url("../img/samsung.png");
    background-repeat: no-repeat;
    background-position: 16px 17px;
  }

  &__item--bg--apple {
    background-image: url("../img/apple.png");
    background-repeat: no-repeat;
    background-position: 16px 12px;
  }

  &__item--bg--sonic {
    background-image: url("../img/sonic.png");
    background-repeat: no-repeat;
    background-position: 14px 26px;
  }

  &__item--bg--bosh {
    background-image: url("../img/bosh.png");
    background-repeat: no-repeat;
    background-position: 16px 21px;
  }

  &__item--bg--hp {
    background-image: url("../img/hp.png");
    background-repeat: no-repeat;
    background-position: 10px 10px;
  }

  &__item--bg--acer {
    background-image: url("../img/acer.png");
    background-repeat: no-repeat;
    background-position: 16px 24px;
  }

  &__item--bg--sony {
    background-image: url("../img/sony.png");
    background-repeat: no-repeat;
    background-position: 14px 23px;
  }

  &__link {
    display: inline-block;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 40px;
    height: 40px;
    border: 2px solid #ff3e79;
    box-sizing: border-box;
    border-radius: 20px;
    background-image: url("../img/link-right.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &__link:hover {
    transform: scale(1.1);
    transition: 200ms;
  }

  &__btn,
  &__btn--show {
    display: flex;
    margin-top: 24px;
    padding-left: 32px;
    font-family: "TTRegular", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1b1c21;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  &__btn::before {
    content: "";
    display: inline-block;
    margin-top: 5px;
    width: 24px;
    height: 24px;
    background-image: url("../img/btn-down.svg");
    background-repeat: no-repeat;
  }

  &__btn--show::before {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("../img/btn-top.svg");
    background-repeat: no-repeat;
  }
}

.swiper-container {
  display: none;
}

@media (max-width: 1119px) {
  .services__group {
    justify-content: center;
  }
}

@media (max-width: 848px) {
  .services {
    &__group {
      grid-template-columns: repeat(auto-fill, 224px);
      gap: 16px 24px;
      padding: 24px;
    }

    &__item:nth-last-child(-n + 5) {
      display: none;
    }

    &__group--full &__item:nth-last-child(-n + 5) {
      display: block;
    }

    &__btn {
      padding-left: 24px;
    }
  }
}

@media (max-width: 520px) {
  .services__title {
    padding: 16px;
  }
  .services__group,
  .services__btn {
    display: none;
  }
  .swiper-container {
    display: block;
  }
  .services__group--mobile {
    padding-left: 16px;
    padding-top: 16px;
    height: 100vh;
  }
  .services__item:nth-last-child(-n + 5) {
    display: block;
  }
  .swiper-pagination {
    top: 180px;
  }
  .swiper-wrapper:first-child::before {
    content: "";
    position: absolute;
    right: 0;
    width: 24px;
    height: 81px;
    background: linear-gradient(
        270deg,
        #f8f8f8 16.84%,
        rgba(248, 248, 248, 0.0001) 100%
    );
  }
}

.swiper-slide {
  width: 240px !important;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #dddddd;
}

.swiper-pagination-bullet-active {
  width: 12px;
  height: 12px;
  background: #b5b6bc;
}
